:root {
  --green-color: #8AC926;
  --dark-green-color: #708c00;
  --red-color: #FF595E;
  --dark-red-color: #c2595e;
  --yellow-color: #FFCA3A;
  --dark-yellow-color: #eba422;
  --blue-color: #1982C4;
  --dark-blue-color: #055f96;
  --grey-color: #dbdbdb;
  --light-grey-color: #f1f1f1;
  font-size: 64px;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  
  background: #bebebe;
  border-radius: 12px; /* Make the scrollbar thumb round */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--green-color);
}
body {
  overflow-y: scroll;
  margin: 0 auto;
  box-sizing: border-box;
}
header {
  margin: 0;
}
input:focus {
  outline: none;
}
.logo {
  height: 1rem;
}
.nav-bar {
  position: relative;
  height: 10vh;
}
.anchor {
  display: inline-block;
  line-height: 0;
}
.search-bar {
  padding: .1rem;
  box-sizing: border-box;
}
.sticky-form {
  position: sticky;
  bottom: 0;
}
.center-text {
  text-align: center;
}
.text-color-white {
  color: white;
}
.text-color-green {
  color: var(--green-color);
}
.margin-none {
  margin: 0;
}
.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-align {
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.p-tenth {
  padding: .1rem;
  box-sizing: border-box;
}
.p-quarter {
  padding: .25rem;
  box-sizing: border-box;
}
.p-third {
  padding: .3rem;
  box-sizing: border-box;
}
.p-half {
  padding: .5rem;
  box-sizing: border-box;
}

.p-1 {
  padding: 1rem;
  box-sizing: border-box;
}
.py-10 {
  padding: 0rem 1rem;
  box-sizing: border-box;
}
.py-1 {
  padding: 1rem 0rem;
  box-sizing: border-box;
}
.nav-link {
  color: black;
  text-decoration: none;
}
.nav-link:hover {
  color: var(--green-color);
}
.width-100 {
  width: 100%;
}
.height-100 {
  height: 100%;
}
.margin-auto {
  margin-left: auto;
  margin-right: auto;
}
.max-width {
  max-width: 1200px;
  padding-left:.5rem;
  padding-right: .5rem;
  box-sizing: border-box;
}
.grid-col-1 {
  display: grid;
}
.grid-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid-item-center {
  place-items: center;
}
.intro-grid-col-2 {
  display: grid;
  grid-template-columns: 1fr .7fr;
}
.grid-row-height {
  grid-template-rows: 400px;
}
.grid-stagger-1 {
  display: grid;
  grid-template-columns: .7fr 1fr;
}
.grid-stagger-2 {
  display: grid;
  grid-template-columns: 1fr .7fr;
}
.gap-third {
  gap: .3rem;
}
.gap-half {
  gap: .5rem;
  box-sizing: border-box;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.btn {
  border: none;
  padding: .2rem .5rem;
  transition: background .25s ease-in-out;
}
.btn-hoverable:hover {
  background: var(--dark-green-color);
  
}
.send-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: .1rem;
  transition: background-color .25s ease;
}
.pointer {
  cursor: pointer;
}
.send-svg {
  width: 1.25em;
  height: 1.25em;
}
.bg-green {
  background: var(--green-color);
}
.bg-dark-green {
  background: var(--dark-green-color);
}
.bg-red {
  background: var(--red-color);
}
.bg-dark-red {
  background: var(--dark-red-color);
}
.bg-yellow {
  background: var(--yellow-color);
}
.bg-dark-yellow {
  background: var(--dark-yellow-color);
}
.bg-blue {
  background: var(--blue-color);
}
.bg-dark-blue {
  background: var(--dark-blue-color);
}
.bg-white {
  background: white;
}

.bg-grey {
  background: var(--grey-color);
}
.bg-light-grey {
  background: #f1f1f1;
}
.rounded {
  border-radius: 12px;
}
.all-round {
  border-radius: 30px;
}
.border-grey {
  border: solid 2px;
  border-color: var(--grey-color);
}
.border-green {
  border: solid 2px;
  border-color: var(--green-color);
}
.border-none {
  border: none;
}
.mulish-bold {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
}
.mulish-reg {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
}
.mulish-light {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}
.h1 {
  font-size: 1rem;
  line-height: 1rem;
}
.h3 {
  font-size: .33rem;
}
.p {
  font-size: .25rem;
}
.pos-abs {
  position: absolute;
}
.form-parent:hover {
  cursor: text
}
.header-width {
  margin: 0 auto;
  max-width: 1500px;
  padding-left:.5rem;
  padding-right: .5rem;
  box-sizing: border-box;
}
.instruction-image-container {
  height: 300px;
}
.instruction-image-card {
  object-fit: cover;
  height: 100%;
  width: 100%;
  
}

.darken {
  filter: brightness(0.5);
}
.recipe-output-div {
  padding-left: 1rem;
}
.user-img-container {
  position: relative;
  z-index: 1000;
}
.user-img {
  height: 40px;
  width: 40px;
}

.user-options-menu {
  position: absolute;
  top: 100%;
  right: 20%;
}
.underline-none {
  text-decoration: none;
}

.shadow {
  filter: drop-shadow(0px 0px 5px #dbdbdb);
}

.signin-page {
  height: 90vh;
}
